<Modal v-model="showEditModal"
       :closable="false"
       :mask-closable="false"
       title="添加/编辑条件"
       class-name="rule-category-field-tree"
       width="625">
  <!-- 已选择标签 -->
  <div class="rule-content">
    <div v-show="field_name">
      <Tag color="success">{{selectedOwner}}</Tag>
      <Tag color="success">{{field_name}}</Tag>
      <RuleType :type="field_type"
                :id="Number(field_id)"
                :field-item="field_item"
                @on-change="onRuleTypeChange"></RuleType>
    </div>
  </div>
  <!-- 条件树 -->
  <div class="tree-content"
       v-if="ruleCategorys.length">
    <Tabs v-model="owner"
          @on-click="onTabClick">
      <TabPane v-for="(ruleCategory, index) in ruleCategorys"
               :key="index"
               :label="ruleCategory.owner"
               :name="ruleCategory.owner">
        <!-- 条件分类 -->
        <Collapse value="0"
                  v-if="ruleCategory.categories&&ruleCategory.categories.length">
          <Panel v-for="(categorie, categorieIndex) in ruleCategory.categories"
                 :key="categorieIndex"
                 :name="`${categorieIndex}`">
            {{categorie.category_name}}
            <!-- 条件选择 -->
            <div slot="content">
              <div v-if="categorie.fields && categorie.fields.length"
                   class="tag-content">
                <div v-for="(field, fieldIndex) in categorie.fields"
                     class="tag">
                  <Tag type="border"
                       :color="field.color? field.color:'default'"
                       @click.native="clickTag(field,ruleCategory)"
                       :key="fieldIndex">{{field.field_name}}</Tag>
                </div>
              </div>
            </div>
          </Panel>
        </Collapse>
      </TabPane>
    </Tabs>
  </div>
  <div slot="footer">
    <Button type="text"
            @click="onModalCancel">取消</Button>
    <Button type="primary"
            @click="onModalOk">确定</Button>
  </div>
</Modal>